/* top header */
#navheader{
	width:calc(100% - 230px);
	position:absolute;
	left:230px;
	top:0px;
	height:50px;
	color:white;
	z-index:10;
	@media screen and (max-width: $break-mid){
		position:relative;
		left:0;
		width:100%;
	}
}
.header-page{
	padding-top:1em;
}
.header-block{
	display:inline-block;
	padding:18px 20px 0 20px;
	vertical-align:top;
	font-size:$mid;
	box-sizing:border-box;
	height:100%;
	.title{
		@extend %blockletters;
	}
	.subtitle{
		font-style:italic;
	}
}
.has-subtitle{
	padding-top:13px;
}
.header-triangle{
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 35px solid $blue-dark;
	border-bottom: 25px solid transparent;
	display:inline-block;
}
.no-arrow{
	@extend %blockletters;
}
#logout{
	@extend %blockletters;
	float:right;
	@media screen and (max-width: $break-mid){
		display:none;
	}
}