/* fonts */
@font-face {
    font-family: "Metropolis";
    src: url("fonts/Metropolis-Black.eot?#iefix") format("embedded-opentype"),
      url("fonts/Metropolis-Black.otf") format("opentype"),
      url("fonts/Metropolis-Black.woff") format("woff"),
      url("fonts/Metropolis-Black.ttf") format("truetype"),
      url("fonts/Metropolis-Black.svg#Metropolis-Black") format("svg");
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: "Metropolis";
    src: url("fonts/Metropolis-BlackItalic.eot?#iefix")
        format("embedded-opentype"),
      url("fonts/Metropolis-BlackItalic.otf") format("opentype"),
      url("fonts/Metropolis-BlackItalic.woff") format("woff"),
      url("fonts/Metropolis-BlackItalic.ttf") format("truetype"),
      url("fonts/Metropolis-BlackItalic.svg#Metropolis-BlackItalic") format("svg");
    font-weight: 900;
    font-style: italic;
  }
  @font-face {
    font-family: "Metropolis";
    src: url("fonts/Metropolis-Bold.eot?#iefix") format("embedded-opentype"),
      url("fonts/Metropolis-Bold.otf") format("opentype"),
      url("fonts/Metropolis-Bold.woff") format("woff"),
      url("fonts/Metropolis-Bold.ttf") format("truetype"),
      url("fonts/Metropolis-Bold.svg#Metropolis-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "Metropolis";
    src: url("fonts/Metropolis-BoldItalic.eot?#iefix") format("embedded-opentype"),
      url("fonts/Metropolis-BoldItalic.otf") format("opentype"),
      url("fonts/Metropolis-BoldItalic.woff") format("woff"),
      url("fonts/Metropolis-BoldItalic.ttf") format("truetype"),
      url("fonts/Metropolis-BoldItalic.svg#Metropolis-BoldItalic") format("svg");
    font-weight: bold;
    font-style: italic;
  }
  @font-face {
    font-family: "Metropolis";
    src: url("fonts/Metropolis-Regular.eot?#iefix") format("embedded-opentype"),
      url("fonts/Metropolis-Regular.otf") format("opentype"),
      url("fonts/Metropolis-Regular.woff") format("woff"),
      url("fonts/Metropolis-Regular.ttf") format("truetype"),
      url("fonts/Metropolis-Regular.svg#Metropolis-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Metropolis";
    src: url("fonts/Metropolis-RegularItalic.eot?#iefix")
        format("embedded-opentype"),
      url("fonts/Metropolis-RegularItalic.otf") format("opentype"),
      url("fonts/Metropolis-RegularItalic.woff") format("woff"),
      url("fonts/Metropolis-RegularItalic.ttf") format("truetype"),
      url("fonts/Metropolis-RegularItalic.svg#Metropolis-RegularItalic")
        format("svg");
    font-weight: normal;
    font-style: italic;
  }
  
  body {
    background: #112739;
    font-family: "Metropolis", sans-serif;
    padding:0;
    margin:0;
    box-sizing: border-box;
  }
  img {
    max-width: 100%;
  }
  #wrapper {
    background: #fff;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top:30px;
    max-width: 1100px;
  }
  #content {
    padding: 30px;
  }
  #header {
    text-align: center;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
  }
  .site-title{
      text-align:center;
      font-weight:bold;
      display:block;
  }
  a.site-title {
      text-decoration:none;
      color:black;
      font-size:3em;
  }
  #menu a {
    text-decoration: none;
  }
  #menu {
    text-align: center;
    background: #2F6798;
    display: flex;
    padding:0;
    margin:0;
    justify-content: center;
  }
  #menu div {
    position: relative;
  }
  #menu a {
    padding: 20px;
    display: inline-block;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
  }
  #menu a:hover {
    color: #fbc052;
  }
  a {
    color: #000;
  }
  #comic-area{
    margin-bottom:30px;
    text-align:center;
  }
  .cc-nav{
      max-width:600px;
      margin: 0 auto;
      padding:20px;
      display:flex;
  }
  .cc-nav a, .cc-nav div{
      margin:0 10px;
      display:block;
      background-size:100%;
      width:100%;
  }
  .cc-nav a:before, .cc-nav div:before{
      content:'';
      display:block;
      padding-bottom:calc((4/5) * 100%);
  }
  .cc-nav a:hover{
      background-position:0 100%
  }
  .cc-first, .cc-first-dis{
      background-image:url('images/first.png');
  }
  .cc-prev, .cc-prev-dis{
      background-image:url('images/prev.png');
  }
  .cc-next,.cc-next-dis{
      background-image:url('images/next.png');
  }
  .cc-last,.cc-last-dis{
      background-image:url('images/last.png');
  }
  .cc-navaux{
      background-image:url('images/rss.png');
  }
  .cc-nav div{
      opacity:.7;
  }
  #cc-comicbody{
    text-align:center;
  }
